footer {
  background-color: #FFF;
  height: 60px;
  width: 100%;
  text-align: center;
  position: fixed;
  bottom: 0px;
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: #CCC;
}
